.player {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.static {
    padding-left: 120px;
}

.static .player-controls {
    margin: 0 auto;
}

.static .progress-bar:hover::-webkit-slider-thumb {
    display: none;
}

@media (max-width: 599px) {
    .player {
        padding: 0;
        justify-content: flex-start;
    }
    .static {
        flex-direction: column;
    }
    .static .player-controls {
        width: 80%;
        margin-top: 10px;
    }
    .static .player-audio {
        width: 40%;
    }
}