.add-songs {
    padding: 0 30px;
    min-height: 100vh;
}

.add-search-header {
    position: relative;
    margin-bottom: 20px;
}

.add-search-header input {
    background-color: rgba(255, 255, 255, .1);
    border: 0;
    border-radius: 4px;
    outline: none;
    color: rgba(255, 255, 255, .7);
    font-weight: bold;
    height: 40px;
    opacity: 1;
    padding: 8px 10px 8px 32px;
    width: 25%;
}

.add-search-icon {
    fill: rgba(255, 255, 255, .7);
    position: absolute;
    top: 18px;
    left: 8px;
}

.add-search-header input::placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: bold;
}

@media (max-width: 750px) {
    .add-search-header input {
        width: 80%;
    }
}