.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main-content {
  width: 87%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #5A5A5A;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}
@media (max-width: 699px) {
  .main-content {
    width: 100%;
  }
}
