.profile-wrapper {
    color: white;
    height: 77vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1614680376593-902f74cf0d41?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80');
    background-size: cover;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 30px;
}

.profile-picture-container {
    background: #282828;
    box-shadow: 0px 0px 17px -1px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-picture, .profile-picture {
    display: flex;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.picture {
    display: none;
}

.choose-img {
    display: none;
}

.choose-img span {
    margin-top: 15px;
    text-decoration: underline;
}

.profile-picture img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.profile-data {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.profile-name {
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    text-transform: none;
    display: inline-block;
}

.edit-btn {
    margin-left: 30px;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

.profile-picture-container:hover .no-picture .profile-icon, .profile-picture-container:hover .profile-picture .profile-icon {
    display: none;
}

.profile-picture-container:hover .profile-picture .choose-img {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--image);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-picture-container:hover .choose-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-btn:hover {
    border-bottom: 1px solid #C1C1C1;
    color: white;
    font-size: 17px;
}

.profile-heading {
    margin-bottom: 10px;
    font-weight: lighter;
}

.profile-playlists-count, .profile-songs-count {
    text-decoration: none;
    cursor: pointer;
    color: #C1C1C1;
    font-size: 15px;
}

.profile-playlists-count:hover, .profile-songs-count:hover {
    text-decoration: underline;
}

.profile-playlists-count::after, .profile-songs-count::after {
    display: inline-block;
    text-decoration: none;
    content: "•";
    margin: 0 4px;
}

@media (max-width: 599px) {
    .profile-container {
        flex-direction: column;
        margin: 0;
    }
    .profile-picture-container {
        margin-top: 20px;
    }
    .profile-name {
        font-size: 30px;
    }
}