.home-button {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button-logo {
    width: 50px;
    margin: 0 10px;
    height: auto;
}

.home-button-text {
    font-size: 20px;
    color: white;
}

.active .home-button-text {
    color: #1DB954;
}