.profile-wrapper {
    color: white;
    height: 77vh;
    background: #474747;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50%;
    margin-left: 30px;
}

.profile-picture-container {
    background: #282828;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-picture, .profile-picture {
    display: flex;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.profile-data {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.profile-name {
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    text-transform: none;
    font-weight: 900;
}

.profile-heading {
    margin-bottom: 10px;
    font-weight: lighter;
}
.profile-playlists-count {
    color: #C1C1C1;
    font-size: 15px;
}
.profile-playlists-count::after {
    content: "•";
    margin: 0 4px;
}