.player-now-playing img {
    width: 60px;
    height: 60px;
}

.player-now-playing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-now-playing-info {
    margin: 0 15px;
}

.player-now-playing-info-title {
    color: white;
    margin: 0;
}

.player-now-playing-info-author {
    color: #9B9B9B;
    margin: 0;
}

.player-now-playing svg {
    fill: #9B9B9B;
    cursor: pointer;
}
.player-now-playing div:not(.liked):hover svg {
    fill: white;
}
.liked svg {
    fill: #1DB954;
}

@media (max-width: 599px) {
    .player-now-playing img {
        display: none;
    }
    .player-now-playing-info {
        margin-right: 1px;
    }
}