.alert {
    border-left-width: 5px;
    background: #C34A43;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin: 15px 0;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 68%;
    z-index: 999999;
    width: 25%;
}

.alert>.icon {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.alert>.text {
    width: 100%;
    padding: 0 15px;
}
.alert>.text strong {
    color: white;
}

.alert>.text p {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
}
.alert>.close {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    fill: #ccc;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.alert>.close:hover {
    fill: red;
}
@media (max-width: 599px) {
    .alert {
        left: 0;
        width: 80%;
    }
    .alert>.text p {
        font-size: 10px;
    }
}