.header {
    color: white;
    display: flex;
    height: 8vh;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    /* opacity: .8; */
}

.unauth {
    justify-content: space-between;
}

@media (max-width: 599px) {
    .header {
        justify-content: space-between;
    }
}